@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap");

:root {
    --main-background: #262736;
    --content-background: #2c2e43;
    --green-yellow-gradient: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

* {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: #c1e1c1;
}

body {
    background-color: var(--main-background);
}

.flex-container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0 3em;
    width: fit-content;
}

/* Box icon */
.box {
    /* Size & Position */
    padding: 0.4em;
    /* Color & Style box */
    box-shadow: 0 0 20px #85ffbd;
    border: 0.16em solid;
    border-image-slice: 1;
    border-image-source: var(--green-yellow-gradient);
    /* Font text */
    text-shadow: 0 0 20px #85ffbd;
    font-size: calc(24pt + 1.7vw);
    font-weight: 700;
    /* Gradient text */
    background: var(--green-yellow-gradient);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Introduction name */
.gradient-text {
    /* Color & Style box */
    background: var(--green-yellow-gradient);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Font text */
    text-shadow: 0 0 20px #85ffbd;
}
.gradient-text .main-text {
    margin: 5px 0;
    font-weight: 700;
    font-size: calc(18pt + 1vw);
}
.gradient-text .sub-text {
    margin: 0;
    font-weight: 500;
    font-size: calc(12pt + 0.5vw);
}

/* Fieldset */
.fieldset {
    /* Color and style box */
    background-color: var(--content-background);
    box-shadow: 0 0 10px #85ffbd;
    /* Size & Position */
    margin: 35px auto;
    width: 60vw;
    max-width: 920px;
    /* Border gradient */
    border: 0.1vw solid;
    border-image-slice: 1;
    border-image-source: var(--green-yellow-gradient);
}

/* Title for fieldset */
.legend-title {
    /* Color & Style box */
    background-image: var(--green-yellow-gradient);
    box-shadow: 0 0 10px #85ffbd;
    /* Position & Size */
    width: fit-content;
    height: fit-content;
    padding: 8px 16px;
    /* Font text */
    text-shadow: 0 0 20px #85ffbd;
    font-size: 14pt;
    color: var(--main-background);
    text-shadow: 0 0 1px var(--main-background);
    font-weight: 600;
}

/*  Content in fieldset */
.content {
    /* Color and style box */
    background-color: var(--content-background);
}

.content p {
    margin: 1em 4px;
    font-size: 12.5pt;
    word-break: break-word;
    white-space: normal;
}

td {
    padding: 0.2em 0.7em;
}

/* Gradient icon */
.fa-gradient {
    text-shadow: 0 0 20px #85ffbd;
    background: var(--green-yellow-gradient);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-content-title {
    font-weight: 700;
    width: fit-content;
    word-break: break-word;
    padding: 0 auto;
    text-align: center;
    /* Color & Style box */
    background: var(--green-yellow-gradient);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li {
    list-style: none;
    margin-bottom: 10px;
}
li:before {
    content: "-";
    margin-left: -20px;
    margin-right: 10px;
}

a {
    text-decoration: none;
    transition: font-size 0.5s, text-shadow 0.1s;
}
a:hover {
    font-size: 12.25pt;
    background: linear-gradient(45deg, #fffb7d 0%, #85ffbd 100%);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 5px #a3da90;
}

hr {
    margin: 30px auto;
    box-shadow: 0 0 20px #85ffbd;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: var(--green-yellow-gradient);
}
